In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv("dados/dados.csv")
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

## Distribuição Binominal

### Problema da aula

Em um concurso para preencher uma vaga de Cientista de Dados, temos um total de 80 questões de múltipla escolha, cada uma com três alternativas possíveis. Estas têm o mesmo valor, e suporemos que um candidato que não tenha estudado absolutamente nada resolva fazer a prova e chute todos os resultados. Assumindo que a prova vale 10 pontos e que a nota de corte é 5, ou seja, passará se sua nota for 5 ou mais e reprovará se for menos que 5, qual seria a chance deste candidato passar para próxima etapa do processo seletivo?

<img src="dist_binominal.png
    " width=60%>

Evento caracterizado por haver possibilidade de ocorrência de apenas 2 categorias, onde uma anularia a outra se ocorressem. Geralmente é usada para caracterizar SUCESSO e FRACASSO

p = probabilidade de sucesso
q = (1 - p) = probabilidade de fracasso
n = número de eventos estudados
k = números de eventos desejados que tenham sucesso

In [4]:
from scipy.special import comb

## Exemplo da mega-sena 

Em um exemplo prático bem simples da loteria Mega Sena que tem 60 números, descobriremos a probabilidade de ganhar este prêmio. Já que temos um total de 1 a 60 números para escolher onde a aposta mínima é 6 números, deveremos descobrir o Espaço Amostral e as possibilidades por meio da Combinação. Temos apenas uma chance de ganhar na Mega Sena, e precisamos calcular "1" dividido pelo Espaço Amostral, o qual é justamente a combinação de 60 números de 6 em 6.

In [6]:
combinacoes = comb(60, 6)
combinacoes

50063860.0

In [8]:
probabilidade = 1 / combinacoes # Probabilidade de ganhar na mega-sena
print('%0.15f' % probabilidade)

0.000000019974489

## Exercicio

Suponha que acabamos de criar um jogo de loteria, chamado Show de prêmios da Alura. Neste nosso novo jogo, o apostador marca 20 números, dentre os 25 disponíveis no bilhete, e pode ganhar até 1 milhão de reais.

Determine qual o número de combinações possíveis (espaço amostral) e a probabilidade de se ganhar o prêmio jogando apenas um bilhete (considere apenas quinze casas decimais).

In [10]:
combinacoes = comb(25, 20)
combinacoes

53130.0

In [11]:
probabilidade = 1 / combinacoes
print('%0.15f' % probabilidade)

0.000018821757952